# --- IDE / Gradle ---
*.iml
.gradle/
local.properties

# --- IntelliJ / Android Studio ---
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# macOS
.DS_Store

# --- Build outputs ---
/build/
/captures
.externalNativeBuild
.cxx

# --- Node / NPM / JS ---
node_modules/
npm-debug.log*
yarn-error.log*

# --- Firebase local backend (firebasecb folder) ---
firebasecb/node_modules/
firebasecb/.cache/
firebasecb/.firebase/
firebasecb/.runtimeconfig.json
firebasecb/.firebaserc
firebasecb/.output/
firebasecb/.env

firebasecb/.eslintrc.js
firebasecb/configureAlgolia.js
firebasecb/firebase.json
firebasecb/firebase-debug.log
firebasecb/index.js
firebasecb/package.json
firebasecb/package-lock.json
firebasecb/functions/node_modules/
firebasecb/functions/.env

# --- Global Firebase logs / config you don't want in repo ---
firebase-debug.log
firebase.jso
